/* line 6, ../Sass/header.scss */
.header {
  background-image: url(../img/Sunset-City.png);
  margin: 0px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-size: 1500px,600px;
  background-position: center;
  width: 100%;
  height: 660px;
}
/* line 16, ../Sass/header.scss */
.header .nav {
  margin: 0;
  padding-right: 35px;
  text-align: center;
  list-style: none;
}
/* line 22, ../Sass/header.scss */
.header .nav li {
  padding: 30px 20px 75px 20px;
  display: inline-block;
}
/* line 26, ../Sass/header.scss */
.header .nav li a {
  text-decoration: none;
}
/* line 30, ../Sass/header.scss */
.header .nav li p {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 0.875em;
  font-family: "roboto", "andale mono";
  color: #30393f;
}

/* line 42, ../Sass/header.scss */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -115px 0 0 -130px;
}
/* line 48, ../Sass/header.scss */
.logo h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 50pt;
  font-weight: 700;
  border: 5px solid #262626;
  width: 270px;
}
