/* line 3, ../Sass/home.scss */
.portfolio p {
  text-align: center;
}
/* line 6, ../Sass/home.scss */
.portfolio div {
  text-align: center;
}
/* line 8, ../Sass/home.scss */
.portfolio div span {
  display: inline;
}
/* line 11, ../Sass/home.scss */
.portfolio div span a img {
  margin: 0px;
  width: 40%;
}
/* line 16, ../Sass/home.scss */
.portfolio div span a p {
  font-size: 16pt;
  font-family: 'open sans', sans-serif;
  font-weight: 600;
}

/* line 29, ../Sass/home.scss */
.about .line h1 {
  text-align: left;
  margin-left: 140px;
}

/* line 36, ../Sass/home.scss */
.codepen {
  text-align: center;
}
/* line 39, ../Sass/home.scss */
.codepen ul {
  list-style: none;
}
/* line 42, ../Sass/home.scss */
.codepen ul li {
  width: 450px;
  display: inline-block;
}
