/* line 3, ../Sass/home.scss */
.portfolio p {
  text-align: center;
}
/* line 7, ../Sass/home.scss */
.portfolio ul {
  list-style: none;
  text-align: center;
}
/* line 11, ../Sass/home.scss */
.portfolio ul li {
  display: inline-block;
}
/* line 15, ../Sass/home.scss */
.portfolio ul li a img {
  margin: 40px 40px 5px 40px;
  width: 80%;
}
/* line 20, ../Sass/home.scss */
.portfolio ul li a p {
  font-size: 16pt;
  font-family: 'open sans', sans-serif;
  font-weight: 600;
}

/* line 33, ../Sass/home.scss */
.about .line h1 {
  text-align: left;
  margin-left: 140px;
}
