/* line 1, ../Sass/learning.scss */
p {
  text-align: center;
}

/* line 5, ../Sass/learning.scss */
.contentContainer {
  width: 46%;
  margin: 2%;
  float: left;
}

/* line 11, ../Sass/learning.scss */
.treeContainer {
  width: 46%;
  margin: 2%;
  float: right;
}
