@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600|Roboto:400,500);
/* line 12, ../scss/main.scss */
a {
  text-decoration: none;
  color: #ca7a0f;
}

/* line 17, ../scss/main.scss */
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #232323;
  font-size: 13pt;
}

/* line 24, ../scss/main.scss */
h1 {
  font-family: "roboto", sans-serif;
  text-transform: uppercase;
  color: #232323;
  font-weight: 400;
  font-size: 14pt;
}

/* line 32, ../scss/main.scss */
body {
  margin: 0px;
}

/* line 36, ../scss/main.scss */
.content {
  margin-left: 11%;
  margin-right: 25%;
}

/* line 41, ../scss/main.scss */
.line {
  width: 100%;
  border-bottom: 1.8px solid #E0E0E0;
}
/* line 45, ../scss/main.scss */
.line a {
  text-decoration: none;
}
/* line 49, ../scss/main.scss */
.line h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 13px;
}

/* line 56, ../scss/main.scss */
.footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* line 62, ../scss/main.scss */
.appStore {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* line 67, ../scss/main.scss */
.appStore a img {
  width: 140px;
}
