/*==================================*/
/************* General **************/
/*==================================*/
/* line 7, ../Sass/portfolio.scss */
h2 {
  text-align: center;
  font-family: 'open sans',sans-serif;
  color: #292929;
  font-size: 13pt;
  font-weight: 600;
}

/* line 15, ../Sass/portfolio.scss */
.textIntro {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

/* line 23, ../Sass/portfolio.scss */
.toolUsedList li a {
  text-decoration: underline;
  color: #333333;
}

/*==================================*/
/************** Alpha ***************/
/*==================================*/
/* line 35, ../Sass/portfolio.scss */
#Al-Previews {
  text-align: center;
}
/* line 37, ../Sass/portfolio.scss */
#Al-Previews ul {
  list-style: none;
}
/* line 39, ../Sass/portfolio.scss */
#Al-Previews ul li {
  display: inline-block;
}
/* line 41, ../Sass/portfolio.scss */
#Al-Previews ul li img {
  width: 290px;
}

/* line 48, ../Sass/portfolio.scss */
.leftColTool-Al {
  width: 46%;
  float: left;
}
/* line 52, ../Sass/portfolio.scss */
.leftColTool-Al p {
  text-align: center;
}

/* line 57, ../Sass/portfolio.scss */
.rightColLang-Al {
  width: 46%;
  float: right;
}
/* line 61, ../Sass/portfolio.scss */
.rightColLang-Al p {
  text-align: center;
  font-size: 11pt;
}

/* line 69, ../Sass/portfolio.scss */
#Al-Lang {
  border-radius: 8px;
  height: 30px;
  width: 95%;
  background-color: #ffac45;
}
/* line 75, ../Sass/portfolio.scss */
#Al-Lang p {
  padding-top: 6px;
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: 300;
  color: #fff;
}

/*==================================*/
/************** Nroc ****************/
/*==================================*/
/* line 89, ../Sass/portfolio.scss */
#nirocImage {
  text-align: center;
}
/* line 91, ../Sass/portfolio.scss */
#nirocImage ul {
  list-style: none;
}
/* line 96, ../Sass/portfolio.scss */
#nirocImage ul li img {
  width: 80%;
}

/*==================================*/
/******* Goodness Gracious **********/
/*==================================*/
/* line 109, ../Sass/portfolio.scss */
#GG-Previews ul {
  text-align: center;
  list-style: none;
}
/* line 112, ../Sass/portfolio.scss */
#GG-Previews ul li {
  margin: 40px;
}
/* line 114, ../Sass/portfolio.scss */
#GG-Previews ul li img {
  width: 60%;
}

/* line 121, ../Sass/portfolio.scss */
#GG-Video {
  text-align: center;
}
