/*==================================*/
/************* General **************/
/*==================================*/

body {
	margin: 0;
}

h1 {	
	font-family: 'roboto', sans-serif;
	text-transform: uppercase;
	color: #292929;
	font-size: 13pt;
	font-weight: 600;
}

h2 {
	font-family: 'open sans', sans-serif;
	color: #292929;
	font-size: 13pt;
	font-weight: 600;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13pt;
	font-weight: 300;
}

.line {
	width: 100%;
	border-bottom: 1.8px solid #E0E0E0;
}

.line h1 {
	text-align: center;
	margin-bottom: 0;
}

/*==================================*/
/************* Header ***************/
/*==================================*/

.logo-kirk a {
	text-decoration: none;
}

.logo-kirk h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 44pt;
	font-weight: 700;
	border: 5px solid #262626;
	width: 250px;
}

.logo-kirk {
	height: 30px;
	padding-top: 75px;
	margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.header {
	background-image:url('../img/Sunset-City.png');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 1500px, 600px;
    background-position: center;
    width: 100%;
    height: 300px;
}

/*----------------------------------------------------*/
/***************** Goodness Gracious ******************/
/*----------------------------------------------------*/

body h2 {
	margin-top: 5;
	text-align: center;
}

.GG-Intro {
	width: 45%;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

#GG-Previews ul li img {
	margin: 5px;
	width: 500px
}

#GG-Previews ul {
	list-style: none;
}

#GG-Previews ul li {
	display: inline-block;
}

#GG-Previews {
	padding-top: 7px;
	text-align: center;
}

.previewText {
	font-weight: 400;
}
/*==================================*/
/*************** Video **************/
/*==================================*/

.GGVideo {
	margin: 0px;
	padding-top: 40px;
	text-align: center;
	width: 100%;
}

.GG-Video p {
	padding-top: 10px;
	margin: 0px;
	text-align: center;
}

.GG-Video {
	padding-bottom: 100px;
	margin: 0px;
}

/*----------------------------------------------------*/
/*********************** Niroc ************************/
/*----------------------------------------------------*/

.N-Intro a {
	color: #F14C23;
	text-decoration: none;
}

.N-Intro {
	width: 45%;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

#N-Previews ul li img {
	margin: 5px;
	width: 700px
}

#N-Previews ul {
	list-style: none;
}

#N-Previews ul li {
	display: inline-block;
}

#N-Previews {
	padding-top: 7px;
	text-align: center;
}

.previewText {
	font-weight: 400;
}

/*----------------------------------------------------*/
/*********************** Alpha ************************/
/*----------------------------------------------------*/

.Al-Intro {
	width: 45%;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

#Al-Previews ul li img {
	margin: 5px;
	width: 280px
}

#Al-Previews ul {
	list-style: none;
}

#Al-Previews ul li {
	display: inline-block;
}

#Al-Previews {
	padding-top: 7px;
	text-align: center;
}