@media screen and (max-width: 480px) {
  /* line 3, ../Sass/responsive.scss */
  .content {
    margin-left: 5%;
    margin-right: 5%;
  }
  /* line 7, ../Sass/responsive.scss */
  .content p {
    text-align: center;
  }

  /* line 14, ../Sass/responsive.scss */
  #GG-Previews ul li {
    margin: 10px;
  }
  /* line 16, ../Sass/responsive.scss */
  #GG-Previews ul li img {
    width: 90%;
  }

  /* line 23, ../Sass/responsive.scss */
  .leftColTool-Al {
    width: 100%;
    float: left;
  }

  /* line 28, ../Sass/responsive.scss */
  .rightColLang-Al {
    width: 100%;
    float: left;
  }

  /* line 33, ../Sass/responsive.scss */
  #Al-Lang {
    margin: 0 auto;
    margin-bottom: 60px;
  }

  /* line 38, ../Sass/responsive.scss */
  .contentContainer {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
  }

  /* line 45, ../Sass/responsive.scss */
  .treeContainer {
    width: 100%;
    float: left;
  }

  /* line 54, ../Sass/responsive.scss */
  .portfolio div span a img {
    width: 80%;
  }
}
@media screen and (max-width: 660px) {
  /* line 68, ../Sass/responsive.scss */
  #GG-Previews ul li img {
    width: 90%;
  }

  /* line 75, ../Sass/responsive.scss */
  .leftColTool-Al {
    width: 100%;
    float: left;
  }

  /* line 80, ../Sass/responsive.scss */
  .rightColLang-Al {
    width: 100%;
    float: left;
  }

  /* line 85, ../Sass/responsive.scss */
  #Al-Lang {
    margin: 0 auto;
    margin-bottom: 60px;
  }

  /* line 90, ../Sass/responsive.scss */
  .contentContainer {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
  }

  /* line 97, ../Sass/responsive.scss */
  .treeContainer {
    width: 100%;
    float: left;
  }
}
