@media screen and (max-width: 920px) {
  /* line 4, ../Sass/responsive.scss */
  .about .line h1 {
    text-align: center;
    margin-left: 0px;
  }

  /* line 10, ../Sass/responsive.scss */
  .content {
    margin-left: 10%;
    margin-right: 10%;
  }
  /* line 14, ../Sass/responsive.scss */
  .content p {
    text-align: center;
  }

  /* line 23, ../Sass/responsive.scss */
  .portfolio div span a img {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  /* line 33, ../Sass/responsive.scss */
  .content {
    margin-left: 5%;
    margin-right: 5%;
  }
  /* line 37, ../Sass/responsive.scss */
  .content p {
    text-align: center;
  }

  /* line 44, ../Sass/responsive.scss */
  #GG-Previews ul li {
    margin: 10px;
  }
  /* line 46, ../Sass/responsive.scss */
  #GG-Previews ul li img {
    width: 90%;
  }

  /* line 53, ../Sass/responsive.scss */
  .leftColTool-Al {
    width: 100%;
    float: left;
  }

  /* line 58, ../Sass/responsive.scss */
  .rightColLang-Al {
    width: 100%;
    float: left;
  }

  /* line 63, ../Sass/responsive.scss */
  #Al-Lang {
    margin: 0 auto;
    margin-bottom: 60px;
  }

  /* line 68, ../Sass/responsive.scss */
  .contentContainer {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
  }

  /* line 75, ../Sass/responsive.scss */
  .treeContainer {
    width: 100%;
    float: left;
  }

  /* line 84, ../Sass/responsive.scss */
  .portfolio div span a img {
    width: 80%;
  }

  /* line 95, ../Sass/responsive.scss */
  .about .line h1 {
    text-align: center;
    margin-left: 0px;
  }
}
@media screen and (max-width: 660px) {
  /* line 108, ../Sass/responsive.scss */
  #GG-Previews ul li img {
    width: 90%;
  }

  /* line 115, ../Sass/responsive.scss */
  .leftColTool-Al {
    width: 100%;
    float: left;
  }

  /* line 120, ../Sass/responsive.scss */
  .rightColLang-Al {
    width: 100%;
    float: left;
  }

  /* line 125, ../Sass/responsive.scss */
  #Al-Lang {
    margin: 0 auto;
    margin-bottom: 60px;
  }

  /* line 130, ../Sass/responsive.scss */
  .contentContainer {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
  }

  /* line 137, ../Sass/responsive.scss */
  .treeContainer {
    width: 100%;
    float: left;
  }
}
@media screen and (min-width: 1288px) {
  /* line 144, ../Sass/responsive.scss */
  .content {
    margin-left: 140px;
    width: 800px;
  }
}
@media screen and (min-width: 1650px) {
  /* line 155, ../Sass/responsive.scss */
  .portfolio div span a img {
    width: 20%;
    max-width: 20%;
  }

  /* line 166, ../Sass/responsive.scss */
  #nirocImage ul li {
    display: inline-block;
  }
  /* line 168, ../Sass/responsive.scss */
  #nirocImage ul li img {
    width: 700px;
  }

  /* line 177, ../Sass/responsive.scss */
  #GG-Previews ul li {
    display: inline-block;
  }
  /* line 179, ../Sass/responsive.scss */
  #GG-Previews ul li img {
    width: 600px;
  }
}
