/* line 6, ../Sass/slim-header.scss */
body {
  margin: 0px;
}

/* line 10, ../Sass/slim-header.scss */
.slimHeader {
  background-image: url(../img/Sunset-City.png);
  margin: 0px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-size: 1500px,400px;
  background-position: center;
  width: 100%;
  height: 400px;
}

/* line 21, ../Sass/slim-header.scss */
.slimLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -130px;
}
/* line 27, ../Sass/slim-header.scss */
.slimLogo h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 50pt;
  font-weight: 700;
  border: 5px solid #262626;
  width: 270px;
}
