
.portfolio {
   p {
      text-align: center;
   }
   div {
      text-align: center;
      span {
         display: inline;
         a {
            img {
               margin: 0px;
               width: 40%;
            }

            p {
               font-size: 16pt;
               font-family: 'open sans', sans-serif;
               font-weight: 600;
            }
         }
      }
   }
}

.about {
   .line {

      h1 {
         text-align: left;
         margin-left: 140px;
      }
   }
}
