
.portfolio {
   p {
      text-align: center;
   }

   ul {
      list-style: none;
      text-align: center;

      li {
         display: inline-block;

         a {
            img {
               margin: 40px 40px 5px 40px;
               width: 80%;
            }

            p {
               font-size: 16pt;
               font-family: 'open sans', sans-serif;
               font-weight: 600;
            }
         }
      }
   }
}

.about {
   .line {

      h1 {
         text-align: left;
         margin-left: 140px;
      }
   }
}
