@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300|Roboto:400,500);

$text-font: 'Open Sans', sans-serif;
$text-color: #232323;
$text-weight: 400;
$text-link: #ca7a0f;

$title-font: 'roboto',sans-serif;
$title-size: 14pt;
$title-weight: 400;

a {
   text-decoration: none;
   color: $text-link;
}

p {
   font-family: $text-font;
   font-weight: $text-weight;
   color: $text-color;
   font-size: 13pt;
}

h1 {
   font-family: $title-font;
   text-transform: uppercase;
   color: $text-color;
   font-weight: $title-weight;
   font-size: $title-size;
}

body {
   margin: 0px;
}

.content {
   margin-left: 11%;
   margin-right: 25%;
}

.line {
   width: 100%;
   border-bottom: 1.8px solid #E0E0E0;

   a {
      text-decoration: none;
   }

   h1 {
      text-align: center;
      margin-bottom: 0;
      margin-top: 13px;
   }
}

.footer {
   text-align: center;
   padding-top: 30px;
   padding-bottom: 10px;
}
