@media screen and (max-width: 920px) {
   .about {
      .line {
         h1 {
            text-align: center;
            margin-left: 0px;
         }
      }
   }
   .content {
      margin-left: 10%;
      margin-right: 10%;

      p {
         text-align: center;
      }
   }

   .portfolio {
      div {
         span {
            a {
               img {
                  width: 40%;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 480px) {
   .content {
      margin-left: 5%;
      margin-right: 5%;

      p {
         text-align: center;
      }
   }

   #GG-Previews {
      ul {
         li {
            margin: 10px;
            img {
               width: 90%;
            }
         }
      }
   }

   .leftColTool-Al {
      width: 100%;
      float: left;
   }

   .rightColLang-Al {
      width: 100%;
      float: left;
   }

   #Al-Lang {
      margin: 0 auto;
      margin-bottom: 60px;
   }

   .contentContainer {
      width: 100%;
      margin-left: 2%;
      margin-right: 2%;
      float: left;
   }

   .treeContainer {
      width: 100%;
      float: left;
   }

   .portfolio {
      div {
         span {
            a {
               img {
                  width: 80%;
               }
            }
         }
      }
   }

   .about {
      .line {

         h1 {
            text-align: center;
            margin-left: 0px;
         }
      }
   }
}

@media screen and (max-width: 660px) {

   #GG-Previews {
      ul {
         li {
            img {
               width: 90%;
            }
         }
      }
   }

   .leftColTool-Al {
      width: 100%;
      float: left;
   }

   .rightColLang-Al {
      width: 100%;
      float: left;
   }

   #Al-Lang {
      margin: 0 auto;
      margin-bottom: 60px;
   }

   .contentContainer {
      width: 100%;
      margin-left: 2%;
      margin-right: 2%;
      float: left;
   }

   .treeContainer {
      width: 100%;
      float: left;
   }
}

@media screen and (min-width: 1288px) {
   .content {
      margin-left: 140px;
      width: 800px;
   }
}

@media screen and (min-width: 1650px) {
   .portfolio {
      div {
         span {
            a {
               img {
                  width: 20%;
                  max-width: 20%;
               }
            }
         }
      }
   }

   #nirocImage {
      ul {
         li {
            display: inline-block;
            img {
               width: 700px;
            }
         }
      }
   }

   #GG-Previews {
      ul {
         li {
            display: inline-block;
            img {
               width: 600px;
            }
         }
      }
   }
}
