h1 {
   font-size: 27pt;
   line-height: 20px;
   color: white;
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   text-transform: uppercase;
}

h2 {
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   font-size: 11pt;
   text-align: center;
}
