/*
Simple Grid
Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
Project Page - http://thisisdallas.github.com/Simple-Grid/
Author - Dallas Bass
Site - dallasbass.com
*/
/* line 9, ../scss/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../scss/_grid.scss */
body {
  margin: 0px;
}

/* line 19, ../scss/_grid.scss */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  /* column-space */
}

/* line 24, ../scss/_grid.scss */
.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 32, ../scss/_grid.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 38, ../scss/_grid.scss */
.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0px;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

/* line 44, ../scss/_grid.scss */
.push-right {
  float: right;
}

/* Content Columns */
/* line 50, ../scss/_grid.scss */
.col-1-1 {
  width: 100%;
}

/* line 53, ../scss/_grid.scss */
.col-2-3, .col-8-12 {
  width: 66.66%;
}

/* line 57, ../scss/_grid.scss */
.col-1-2, .col-6-12 {
  width: 50%;
}

/* line 61, ../scss/_grid.scss */
.col-1-3, .col-4-12 {
  width: 33.33%;
}

/* line 65, ../scss/_grid.scss */
.col-1-4, .col-3-12 {
  width: 25%;
}

/* line 69, ../scss/_grid.scss */
.col-1-5 {
  width: 20%;
}

/* line 73, ../scss/_grid.scss */
.col-1-6, .col-2-12 {
  width: 16.667%;
}

/* line 77, ../scss/_grid.scss */
.col-1-7 {
  width: 14.28%;
}

/* line 81, ../scss/_grid.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 85, ../scss/_grid.scss */
.col-1-9 {
  width: 11.1%;
}

/* line 89, ../scss/_grid.scss */
.col-1-10 {
  width: 10%;
}

/* line 93, ../scss/_grid.scss */
.col-1-11 {
  width: 9.09%;
}

/* line 97, ../scss/_grid.scss */
.col-1-12 {
  width: 8.33%;
}

/* Layout Columns */
/* line 103, ../scss/_grid.scss */
.col-11-12 {
  width: 91.66%;
}

/* line 107, ../scss/_grid.scss */
.col-10-12 {
  width: 83.333%;
}

/* line 111, ../scss/_grid.scss */
.col-9-12 {
  width: 75%;
}

/* line 115, ../scss/_grid.scss */
.col-5-12 {
  width: 41.66%;
}

/* line 119, ../scss/_grid.scss */
.col-7-12 {
  width: 58.33%;
}

/* Pushing blocks */
/* line 127, ../scss/_grid.scss */
.push-2-3, .push-8-12 {
  margin-left: 66.66%;
}

/* line 131, ../scss/_grid.scss */
.push-1-2, .push-6-12 {
  margin-left: 50%;
}

/* line 135, ../scss/_grid.scss */
.push-1-3, .push-4-12 {
  margin-left: 33.33%;
}

/* line 139, ../scss/_grid.scss */
.push-1-4, .push-3-12 {
  margin-left: 25%;
}

/* line 143, ../scss/_grid.scss */
.push-1-5 {
  margin-left: 20%;
}

/* line 147, ../scss/_grid.scss */
.push-1-6, .push-2-12 {
  margin-left: 16.667%;
}

/* line 151, ../scss/_grid.scss */
.push-1-7 {
  margin-left: 14.28%;
}

/* line 155, ../scss/_grid.scss */
.push-1-8 {
  margin-left: 12.5%;
}

/* line 159, ../scss/_grid.scss */
.push-1-9 {
  margin-left: 11.1%;
}

/* line 163, ../scss/_grid.scss */
.push-1-10 {
  margin-left: 10%;
}

/* line 167, ../scss/_grid.scss */
.push-1-11 {
  margin-left: 9.09%;
}

/* line 171, ../scss/_grid.scss */
.push-1-12 {
  margin-left: 8.33%;
}

@media handheld, only screen and (max-width: 767px) {
  /* line 177, ../scss/_grid.scss */
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
  }

  /* line 186, ../scss/_grid.scss */
  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
  }

  /* Mobile Layout */
  /* line 200, ../scss/_grid.scss */
  [class*='mobile-col-'] {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0px;
  }

  /* line 211, ../scss/_grid.scss */
  .mobile-col-1-1 {
    width: 100%;
  }

  /* line 214, ../scss/_grid.scss */
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%;
  }

  /* line 218, ../scss/_grid.scss */
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%;
  }

  /* line 222, ../scss/_grid.scss */
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%;
  }

  /* line 226, ../scss/_grid.scss */
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%;
  }

  /* line 230, ../scss/_grid.scss */
  .mobile-col-1-5 {
    width: 20%;
  }

  /* line 234, ../scss/_grid.scss */
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%;
  }

  /* line 238, ../scss/_grid.scss */
  .mobile-col-1-7 {
    width: 14.28%;
  }

  /* line 242, ../scss/_grid.scss */
  .mobile-col-1-8 {
    width: 12.5%;
  }

  /* line 246, ../scss/_grid.scss */
  .mobile-col-1-9 {
    width: 11.1%;
  }

  /* line 250, ../scss/_grid.scss */
  .mobile-col-1-10 {
    width: 10%;
  }

  /* line 254, ../scss/_grid.scss */
  .mobile-col-1-11 {
    width: 9.09%;
  }

  /* line 258, ../scss/_grid.scss */
  .mobile-col-1-12 {
    width: 8.33%;
  }

  /* Layout Columns */
  /* line 264, ../scss/_grid.scss */
  .mobile-col-11-12 {
    width: 91.66%;
  }

  /* line 268, ../scss/_grid.scss */
  .mobile-col-10-12 {
    width: 83.333%;
  }

  /* line 272, ../scss/_grid.scss */
  .mobile-col-9-12 {
    width: 75%;
  }

  /* line 276, ../scss/_grid.scss */
  .mobile-col-5-12 {
    width: 41.66%;
  }

  /* line 280, ../scss/_grid.scss */
  .mobile-col-7-12 {
    width: 58.33%;
  }

  /* line 284, ../scss/_grid.scss */
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
}
/* line 1, ../scss/_colors.scss */
.twitter-blue {
  color: #64B6EE;
}

/* line 5, ../scss/_colors.scss */
.teal {
  color: #53BBB4;
}

/* line 9, ../scss/_colors.scss */
.github-green {
  color: #8CC665;
}

/* line 1, ../scss/_typography.scss */
h1 {
  font-size: 27pt;
  line-height: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 10, ../scss/_typography.scss */
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 11pt;
  text-align: center;
}

/* line 1, ../scss/_PixelGrid.scss */
#Pixel-Grid {
  /* Grid Element */
  /* Makes not selectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 10, ../scss/_PixelGrid.scss */
#Pixel-Grid div {
  /* Grid Row */
  margin-top: -3px;
}

/* line 14, ../scss/_PixelGrid.scss */
#Pixel-Grid div div {
  /* Grid Cell */
  display: inline-block;
  /* Display Type */
  width: 15px;
  /* cell Width */
  height: 15px;
  /* Cell Height */
  padding: 0;
}

/* line 5, ../scss/_social.scss */
.twitter {
  margin: 5px;
  width: 27px;
  height: 27px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 60 48.2;
  padding: 3px;
}
/* line 13, ../scss/_social.scss */
.twitter g {
  overflow: visible;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #212121;
}

/* line 21, ../scss/_social.scss */
.twitter:hover {
  cursor: pointer;
}
/* line 23, ../scss/_social.scss */
.twitter:hover g {
  fill: gray;
}

/* line 28, ../scss/_social.scss */
.github {
  margin: 5px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 62 60;
  width: 27px;
  height: 27px;
  padding: 3px;
}
/* line 37, ../scss/_social.scss */
.github g path {
  overflow: visible;
  x: -4.5;
  y: -4.5;
  fill: #212121;
}

/* line 45, ../scss/_social.scss */
.github:hover {
  cursor: pointer;
}
/* line 47, ../scss/_social.scss */
.github:hover g path {
  fill: gray;
}

/* line 52, ../scss/_social.scss */
.codepen {
  margin: 5px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 500 500;
  width: 27px;
  height: 27px;
  padding: 3px;
}
/* line 61, ../scss/_social.scss */
.codepen polygon, .codepen path {
  fill: #212121;
}

/* line 66, ../scss/_social.scss */
.codepen:hover {
  cursor: pointer;
}
/* line 68, ../scss/_social.scss */
.codepen:hover polygon, .codepen:hover path {
  fill: gray;
}

/* line 73, ../scss/_social.scss */
.social {
  display: block;
  text-align: center;
}

/* line 1, ../scss/_header.scss */
.header {
  background-color: #171616;
  height: 450px;
  width: 100%;
  margin: 0;
  position: relative;
}
/* line 8, ../scss/_header.scss */
.header div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin: 0;
}
/* line 16, ../scss/_header.scss */
.header div h1 {
  margin: 0;
  color: #F7DE63;
  text-align: center;
}
/* line 22, ../scss/_header.scss */
.header div h2 {
  color: #848484;
  line-height: 40px;
}

/* line 1, ../scss/_footer.scss */
footer {
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: #ededed;
  text-align: center;
}
/* line 8, ../scss/_footer.scss */
footer p {
  color: black;
  margin: 0;
  padding-top: 20px;
  font-family: "lato", sans-serif;
  font-weight: 400;
}

/* line 1, ../scss/_apps.scss */
.apple-download {
  width: 100px;
  margin: 20px 10px 5px 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 7, ../scss/_apps.scss */
.twitter-badge {
  margin: 20px 20px 5px 0;
  height: 35px;
}

/* line 12, ../scss/_apps.scss */
#alpha {
  background-image: url("../img/alpha-background.png");
  background-size: cover;
  margin: 0px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 375px;
  position: relative;
}
/* line 25, ../scss/_apps.scss */
#alpha div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 31, ../scss/_apps.scss */
#alpha div img:nth-child(1) {
  width: 72px;
  height: 72px;
  border-radius: 25%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 41, ../scss/_apps.scss */
#alpha div h2, #alpha div h3 {
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
}
/* line 47, ../scss/_apps.scss */
#alpha div h2 {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 2px;
  font-weight: 300;
}
/* line 54, ../scss/_apps.scss */
#alpha div h3 {
  font-weight: 300;
  width: 75%;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

/* line 66, ../scss/_apps.scss */
#outflow {
  width: 100%;
  height: 510px;
  background-color: #60B6FC;
  padding: 0;
}

/* line 73, ../scss/_apps.scss */
#outflow-content {
  padding-top: 33px;
  width: 50%;
  margin: 0 auto;
}
/* line 78, ../scss/_apps.scss */
#outflow-content img {
  width: 95px;
  display: block;
  margin: 0 auto;
}
/* line 84, ../scss/_apps.scss */
#outflow-content h3, #outflow-content h4 {
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
}
/* line 90, ../scss/_apps.scss */
#outflow-content h3 {
  font-weight: 400;
  font-size: 20pt;
  line-height: 0;
}
/* line 95, ../scss/_apps.scss */
#outflow-content h4 {
  line-height: 0;
  font-weight: 300;
  font-size: 14pt;
}

/* line 102, ../scss/_apps.scss */
#outflow-Links {
  display: inline-block;
  float: left;
}

/* line 107, ../scss/_apps.scss */
#IPhone-Mockup-outflow {
  -webkit-clip-path: inset(0 0 46% 0);
  clip-path: inset(0 0 46% 0);
  text-align: center;
  margin-top: 30px;
}
/* line 112, ../scss/_apps.scss */
#IPhone-Mockup-outflow img {
  width: 265px;
}

/* line 11, ../scss/home.scss */
body {
  background-color: #ededed;
  margin: 0;
}

/* line 17, ../scss/home.scss */
footer p:last-child {
  padding-top: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #B6B6B6;
  font-size: 10pt;
}

/* line 26, ../scss/home.scss */
#launch-list {
  width: 100%;
}
/* line 29, ../scss/home.scss */
#launch-list div {
  text-align: center;
  padding: 15px;
}
/* line 32, ../scss/home.scss */
#launch-list div p {
  vertical-align: middle;
  display: inline-block;
  width: 30%;
  max-width: 400px;
  min-width: 300px;
  margin-right: 5%;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
}
/* line 43, ../scss/home.scss */
#launch-list div form {
  display: inline-block;
}
/* line 45, ../scss/home.scss */
#launch-list div form input {
  background-color: white;
  width: 220px;
  border-radius: 5px 0 0 5px;
  font-size: 10pt;
  padding: 0;
  padding-left: 15px;
  margin: 0;
  margin-left: -40px;
  background-color: white;
  border: 0;
  height: 29px;
  outline: 0;
}
/* line 60, ../scss/home.scss */
#launch-list div form button {
  margin: 0;
  margin-left: -5px;
  padding: 0;
  height: 29px;
  width: 75px;
  background-color: #202020;
  color: white;
  border: 0;
  border-radius: 0 5px 5px 0;
}

/* line 75, ../scss/home.scss */
.line {
  background-color: #B6B6B6;
  border-radius: 2px;
  width: 30%;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px;
}

/* line 80, ../scss/home.scss */
.stats h3 {
  margin: 50px;
  font-size: 4em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 0;
  font-weight: 700;
}
/* line 88, ../scss/home.scss */
.stats h4 {
  text-align: center;
  font-size: 1.05em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #B6B6B6;
  line-height: 0;
}
