/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 31, ../scss/_skeleton.scss */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* line 39, ../scss/_skeleton.scss */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  /* line 46, ../scss/_skeleton.scss */
  .container {
    width: 85%;
    padding: 0;
  }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  /* line 53, ../scss/_skeleton.scss */
  .container {
    width: 80%;
  }

  /* line 56, ../scss/_skeleton.scss */
  .column,
  .columns {
    margin-left: 4%;
  }

  /* line 59, ../scss/_skeleton.scss */
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  /* line 63, ../scss/_skeleton.scss */
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }

  /* line 64, ../scss/_skeleton.scss */
  .two.columns {
    width: 13.3333333333%;
  }

  /* line 65, ../scss/_skeleton.scss */
  .three.columns {
    width: 22%;
  }

  /* line 66, ../scss/_skeleton.scss */
  .four.columns {
    width: 30.6666666667%;
  }

  /* line 67, ../scss/_skeleton.scss */
  .five.columns {
    width: 39.3333333333%;
  }

  /* line 68, ../scss/_skeleton.scss */
  .six.columns {
    width: 48%;
  }

  /* line 69, ../scss/_skeleton.scss */
  .seven.columns {
    width: 56.6666666667%;
  }

  /* line 70, ../scss/_skeleton.scss */
  .eight.columns {
    width: 65.3333333333%;
  }

  /* line 71, ../scss/_skeleton.scss */
  .nine.columns {
    width: 74.0%;
  }

  /* line 72, ../scss/_skeleton.scss */
  .ten.columns {
    width: 82.6666666667%;
  }

  /* line 73, ../scss/_skeleton.scss */
  .eleven.columns {
    width: 91.3333333333%;
  }

  /* line 74, ../scss/_skeleton.scss */
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  /* line 76, ../scss/_skeleton.scss */
  .one-third.column {
    width: 30.6666666667%;
  }

  /* line 77, ../scss/_skeleton.scss */
  .two-thirds.column {
    width: 65.3333333333%;
  }

  /* line 79, ../scss/_skeleton.scss */
  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  /* line 83, ../scss/_skeleton.scss */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  /* line 85, ../scss/_skeleton.scss */
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  /* line 87, ../scss/_skeleton.scss */
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }

  /* line 89, ../scss/_skeleton.scss */
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  /* line 91, ../scss/_skeleton.scss */
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  /* line 93, ../scss/_skeleton.scss */
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }

  /* line 95, ../scss/_skeleton.scss */
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  /* line 97, ../scss/_skeleton.scss */
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  /* line 99, ../scss/_skeleton.scss */
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }

  /* line 101, ../scss/_skeleton.scss */
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  /* line 103, ../scss/_skeleton.scss */
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  /* line 106, ../scss/_skeleton.scss */
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  /* line 108, ../scss/_skeleton.scss */
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  /* line 111, ../scss/_skeleton.scss */
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
/* line 121, ../scss/_skeleton.scss */
html {
  font-size: 62.5%;
}

/* line 123, ../scss/_skeleton.scss */
body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 133, ../scss/_skeleton.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

/* line 137, ../scss/_skeleton.scss */
h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

/* line 138, ../scss/_skeleton.scss */
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

/* line 139, ../scss/_skeleton.scss */
h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

/* line 140, ../scss/_skeleton.scss */
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

/* line 141, ../scss/_skeleton.scss */
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

/* line 142, ../scss/_skeleton.scss */
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  /* line 146, ../scss/_skeleton.scss */
  h1 {
    font-size: 5.0rem;
  }

  /* line 147, ../scss/_skeleton.scss */
  h2 {
    font-size: 4.2rem;
  }

  /* line 148, ../scss/_skeleton.scss */
  h3 {
    font-size: 3.6rem;
  }

  /* line 149, ../scss/_skeleton.scss */
  h4 {
    font-size: 3.0rem;
  }

  /* line 150, ../scss/_skeleton.scss */
  h5 {
    font-size: 2.4rem;
  }

  /* line 151, ../scss/_skeleton.scss */
  h6 {
    font-size: 1.5rem;
  }
}
/* line 154, ../scss/_skeleton.scss */
p {
  margin-top: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 160, ../scss/_skeleton.scss */
a {
  color: #1EAEDB;
}

/* line 162, ../scss/_skeleton.scss */
a:hover {
  color: #0FA0CE;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 172, ../scss/_skeleton.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

/* line 199, ../scss/_skeleton.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

/* line 207, ../scss/_skeleton.scss */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

/* line 220, ../scss/_skeleton.scss */
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 236, ../scss/_skeleton.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
/* line 252, ../scss/_skeleton.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 256, ../scss/_skeleton.scss */
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 268, ../scss/_skeleton.scss */
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

/* line 272, ../scss/_skeleton.scss */
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

/* line 276, ../scss/_skeleton.scss */
fieldset {
  padding: 0;
  border-width: 0;
}

/* line 280, ../scss/_skeleton.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

/* line 282, ../scss/_skeleton.scss */
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 290, ../scss/_skeleton.scss */
ul {
  list-style: circle inside;
}

/* line 292, ../scss/_skeleton.scss */
ol {
  list-style: decimal inside;
}

/* line 294, ../scss/_skeleton.scss */
ol, ul {
  padding-left: 0;
  margin-top: 0;
}

/* line 300, ../scss/_skeleton.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

/* line 303, ../scss/_skeleton.scss */
li {
  margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 309, ../scss/_skeleton.scss */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

/* line 317, ../scss/_skeleton.scss */
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 326, ../scss/_skeleton.scss */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

/* line 331, ../scss/_skeleton.scss */
th:first-child,
td:first-child {
  padding-left: 0;
}

/* line 334, ../scss/_skeleton.scss */
th:last-child,
td:last-child {
  padding-right: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 341, ../scss/_skeleton.scss */
button,
.button {
  margin-bottom: 1rem;
}

/* line 346, ../scss/_skeleton.scss */
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

/* line 356, ../scss/_skeleton.scss */
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 362, ../scss/_skeleton.scss */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

/* line 365, ../scss/_skeleton.scss */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

/* line 368, ../scss/_skeleton.scss */
.u-pull-right {
  float: right;
}

/* line 370, ../scss/_skeleton.scss */
.u-pull-left {
  float: left;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 376, ../scss/_skeleton.scss */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
/* line 389, ../scss/_skeleton.scss */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/* line 1, ../scss/_typography.scss */
h1 {
  font-size: 27pt;
  line-height: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 10, ../scss/_typography.scss */
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 11pt;
  text-align: center;
}

/* line 1, ../scss/_PixelGrid.scss */
#Pixel-Grid {
  /* Grid Element */
  /* Makes not selectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 10, ../scss/_PixelGrid.scss */
#Pixel-Grid div {
  /* Grid Row */
  margin-top: -3px;
}

/* line 14, ../scss/_PixelGrid.scss */
#Pixel-Grid div div {
  /* Grid Cell */
  display: inline-block;
  /* Display Type */
  width: 15px;
  /* cell Width */
  height: 15px;
  /* Cell Height */
  padding: 0;
}

/* line 4, ../scss/_social.scss */
.twitter {
  margin: 5px;
  width: 23px;
  height: 23px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 60 48.2;
  padding: 3px;
}
/* line 12, ../scss/_social.scss */
.twitter g {
  overflow: visible;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: white;
}

/* line 20, ../scss/_social.scss */
.twitter:hover {
  cursor: pointer;
}
/* line 22, ../scss/_social.scss */
.twitter:hover g {
  fill: gray;
}

/* line 27, ../scss/_social.scss */
.github {
  margin: 5px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 62 60;
  width: 23px;
  height: 23px;
  padding: 3px;
}
/* line 36, ../scss/_social.scss */
.github g path {
  overflow: visible;
  x: -4.5;
  y: -4.5;
  fill: white;
}

/* line 44, ../scss/_social.scss */
.github:hover {
  cursor: pointer;
}
/* line 46, ../scss/_social.scss */
.github:hover g path {
  fill: gray;
}

/* line 51, ../scss/_social.scss */
.codepen {
  margin: 5px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 500 500;
  width: 23px;
  height: 23px;
  padding: 3px;
}
/* line 60, ../scss/_social.scss */
.codepen polygon, .codepen path {
  fill: white;
}

/* line 65, ../scss/_social.scss */
.codepen:hover {
  cursor: pointer;
}
/* line 67, ../scss/_social.scss */
.codepen:hover polygon, .codepen:hover path {
  fill: gray;
}

/* line 72, ../scss/_social.scss */
.social {
  padding-top: 15px;
  display: block;
  text-align: center;
}

/* line 1, ../scss/_header.scss */
.header {
  background-color: #171616;
  height: 450px;
  width: 100%;
  margin: 0;
  position: relative;
}
/* line 8, ../scss/_header.scss */
.header div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin: 0;
}
/* line 16, ../scss/_header.scss */
.header div h1 {
  margin: 0;
  color: #F7DE63;
  text-align: center;
}
/* line 22, ../scss/_header.scss */
.header div h2 {
  color: #848484;
  line-height: 40px;
}

/* line 1, ../scss/_apps.scss */
.apple-download {
  width: 100px;
  margin: 20px;
}

/* line 6, ../scss/_apps.scss */
#alpha {
  background-image: url("../img/alpha-background.png");
  background-size: cover;
  margin: 0px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 375px;
  position: relative;
}
/* line 19, ../scss/_apps.scss */
#alpha div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 25, ../scss/_apps.scss */
#alpha div img:nth-child(1) {
  width: 72px;
  height: 72px;
  border-radius: 25%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* line 34, ../scss/_apps.scss */
#alpha div h2, #alpha div h3 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
}
/* line 40, ../scss/_apps.scss */
#alpha div h2 {
  font-weight: 400;
  font-size: 18pt;
  line-height: 2px;
  font-weight: 300;
}
/* line 47, ../scss/_apps.scss */
#alpha div h3 {
  font-weight: 300;
  width: 75%;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  word-spacing: 2px;
}

/* line 8, ../scss/home.scss */
body {
  background-color: #fafafa;
  margin: 0;
}
